/* *{
    box-sizing: border-box;
} */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
    background-image: url(colorful.jpg);
    
}
.form{
    background-color: whitesmoke;

    padding: 5px 20px 15px 20px ;
border: 2px solid;
border-radius: 4px;

}
#cvv,#date,#cardnumber,#card,#pincoad,#addess,#name,#email,#submit,#address{
    width: 100%;
    padding: 6px;
    border: 2px solid #ccc;
    padding-left: 3px;
    border-radius: 5px;  
}
/* #date{
    width: 100%;
}
#cardnumber{
    width: 100%;
}
#card{
    width: 100%;
}
# */

fieldset{
    background-color: #fff;
    border: 5px solid #ccc;
}
.mainheading{
  text-align: center;
}
input[type="submit"]
{
    background-color: blanchedalmond;
font-size: 19px;
font-weight: 500;
color: hotpink;
cursor: pointer;
}

input[type="submit"]:hover{
background-color: chartreuse;
}